PORT=3000 # or Port of your choice but 3000 is recommended if you choose a diff local host port please modify the baseURL in url.ts in the frontend
JWT_SECRET=053f9c572059682ac65b7484e856f08ceda35b6120bac07787e25fa2467325551eaf0cf1fbe0b2db2f4af672b903012dd47dca0203bc407e51a2c69c65083ae3 # or use cryptoFunc to generate
COOKIE_PARSER_SECRET=a1c8fb0fd26973974bf1d1e52d87186cfce4a9a78727a80036ef4ca54c2e94b3 # or use cryptoFunc to generate
DB=csTechMk # or your database name
MONGO_URI=mongodb+srv://<username>:<password>@somethingsomething/ # your mongoDB uri with username and password. You can use atlas or download community edition and use the same